.content {
    display: block;
    margin: auto;
    width: 70%;
    font-family: arial, sans-serif;
    font-size: 18px;
    background-image: linear-gradient(rgba(37, 51, 113, 0.75), rgba(37, 51, 113, 0.75)), url(hodson.jpeg);
    box-shadow: 2px 2px 5px grey;
    padding: 3%;
}

.content p {
    color: white;
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
}

.content h1 {
    color: rgb(66, 165, 245);
    top: 5px;
    font-size: 24px;
}

.content a {
    text-decoration: none;
    color: rgb(66, 165, 245);
}

/* turn down saturation and contrast, align paragraph and heading, color change
    so white stands out more, less wall more people, incorporate more of the
    blue/color matching */
