.table{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.layout{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border: solid 1px black;
}

.topic {
    margin-bottom: 80px;
}

.title, .content, .signed, .footer, .social-banner{
    font-family: Trebuchet, sans-serif;
    text-align: justify;
    margin: 5% 15% 5%;
    color: rgb(27, 122, 142);
}

/*title block*/
.title {
    position: relative;
    margin-bottom: 40px;
}

.title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title img {
    width: 100%;
}

.title h1 {
    font-size: 48px;
}

.title h1, h2 {
    text-align: center;
    color: rgb(100, 100, 100);
}

.title h2 {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

/*main header fonts*/
h1 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*signature fonts and such*/
h3 {
    font-size: 16px;
    font-weight: bold;
}

h4{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

h3, h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    line-height: 175%;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

/*and now we have footer fonts*/
.icon{
    width: 10%;
    border-radius: 50%;
    height: auto;
}

.footer p{
    font-size: 12px;
    line-height: 75%;
}

.footer a{
    font-size: 12px;
    line-height: 75%;
}

a {
    font-size: 20px;
    color: rgb(255, 169, 0);
}

a:hover {
    color: rgb(255, 127, 0);
}

.bannerex {
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*social media stuff at the bottom*/
.social-banner {
    text-align: center;
}

.social-banner a {
    color: rgb(27, 122, 142);
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
}

.social-banner a:hover {
    color: rgb(255, 169, 0);
}

#quote-text{
    font-size: 36px;
    margin-left: 0;
    color: rgb(125, 125, 125);
}

#credit {
    font-style: italic;
    color: rgb(23, 176, 209);
}

.quote {
    margin-bottom: 50px;
}
