<!DOCTYPE html>
<html>
<head>
  <link href="../assets/css/text.css" rel="stylesheet"/>
  <link href="../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>About Me</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="content">
      <p>Hi! My name is Elizabeth Cho and I am currently a senior at Farmington
        High School in Farmington, Connecticut and I will be attending Johns
        Hopkins in the fall of 2018. I plan on majoring in biomedical engineering
        and computer science.</p>
      <p>I first got involved with computers and technology in general when I
        was a child. My brother was known as the “tech support” of the house
        and I was fascinated by whatever he did, even if it was just formatting
        a Word document. When I got to high school, I took the computer science
        courses offered and joined the programming committee on the robotics
        team. From my experiences with learning the languages and working with
        others to solve problems, I decided that I wanted to go into this field.
        I also became interested in the field of biomedical engineering after
        taking biology and learning about some of the technological improvements
        made in research and treatment. After taking classes and teaching myself,
        I am able to write code in Java, HTML, CSS, JavaScript, and PHP.</p>
      <p>	Over the past few years, I have worked on several projects, both for
        classes and just because. A list of my main projects can be found
        <a href="/projects">here</a>. The majority of my work is in Java, such
        as a program to encrypt messages for AP Computer Science and a model
        for semi-automated triage for AP Biology. Recently, I have started to
        expand to other languages. Currently, my main project is my
        <a href="/capstone">capstone</a>, where I’m researching how digital
        media can help with publicity. With the information I gather from this
        research, I will make an online choose-your-own-adventure game, which
        will be advertised through its development and release.</p>
    </div>
  </div>
</body>
</html>
