<!DOCTYPE html>
<link href="../assets/css/text.css" rel="stylesheet"/>
<link href="../assets/css/social.css" rel="stylesheet"/>
<link href="../assets/css/splitlayout.css" rel="stylesheet"/>
<html>
  <body class="nav-included">
    <div class="sidebar">
      <div class="not-social">
        <div class="name">
          <h3>Elizabeth Cho</h3>
        </div>
        <div class="social-icon">
          <a href="/">
            <img id="sm-icon" src="../assets/Images/Icons/icon.png">
          </a>
        </div>
        <div class="basic-info">
          <p>Johns Hopkins University - 2022</p>
          <p>Farmington High School - 2018</p>
          <p>FRC Team 178</p>
        </div>
        <hr>
      </div>
      <div class="social-links">
        <ul>
          <div class="extImg">
            <!---Icon credits: https://www.iconfinder.com/iconsets/black-white-social-media--->
            <a href="https://medium.com/@18ChoEl"/>
              <img style="vertical-align:middle" src="../../assets/Images/Icons/medium.png">
              <span>Medium</span>
            </a>
          </div>
          <div class="extImg">
            <a href="https://www.github.com/SilverSapo">
              <img style="vertical-align:middle" src="../../assets/Images/Icons/github.png">
              <span>GitHub</span>
            </a>
          </div>
          <div class="extImg">
            <a href="https://www.linkedin.com/in/elizabeth-cho-48b5b614b/">
              <img style="vertical-align:middle" src="../../assets/Images/Icons/linkedin.png">
              <span>LinkedIn</span>
            </a>
          </div>
          <div class="extImg">
            <a href="https://www.facebook.com/SilverSapo">
              <img style="vertical-align:middle" src="../../assets/Images/Icons/facebook.png">
              <span>Facebook</span>
            </a>
          </div>
          <div class="extImg">
            <a href="https://www.twitter.com/xSilverSapo">
              <img style="vertical-align:middle" src="../../assets/Images/Icons/twitter.png">
              <span>Twitter</span>
            </a>
          </div>
        </ul>
      </div>
    </div>
    <div class="content-pane">
      <h1>About Me</h1>
      <hr>
      <p>Hi! My name is Elizabeth Cho and I am a graduate of Farmington High
        School in Farmington, Connecticut and I will be attending Johns
        Hopkins in the fall of 2018. I plan on majoring in biomedical engineering
        and computer science.</p>
      <p>I first got involved with computers and technology in general when I
        was a child. My brother was known as the “tech support” of the house
        and I was fascinated by whatever he did, even if it was just formatting
        a Word document. When I got to high school, I took the computer science
        courses offered and joined the programming committee on the robotics
        team. From my experiences with learning the languages and working with
        others to solve problems, I decided that I wanted to go into this field.
        I also became interested in the field of biomedical engineering after
        taking biology and learning about some of the technological improvements
        made in research and treatment. After taking classes and teaching myself,
        I am able to write code in Java, HTML, CSS, JavaScript, and PHP.</p>
      <p>More information about my <a href="/projects">projects</a>,
        <a href="/resume">academic activities</a>, as well as how to
        <a href="/contact">contact me</a> can be found around the site.</p>
    </div>
  </body>
</html>
