<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>About Me</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="content">
      <p>Hi! My name is Elizabeth Cho and I am currently a senior at Farmington
        High School and will be attending Johns Hopkins University next year.
        This section of the website will be primarily dedicated to the capstone
        program I am enrolled in. I plan on majoring in computer science and
        biomedical engineering. My current experience mainly pertains to the
        computer science side, as I have had many opportunities to apply what I
        know and have learned on the <a href="http://farmingtonrobotics.org/"> 
        <p></p>
        <p>My capstone research is focused on how digital media can be used for
          publicity, mainly in outreach, the spread of messages, and product sales.
          This information will be utilized in order to advertise a game that
          contains either a social or political message.</p>
    </div>
  </div>
</body>
</html>
