<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Design Plan</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="content">
      <div id="basic">
        <p><b>Student: </b>Elizabeth Cho</p>
        <p><b>Course: </b>Custom Capstone</p>
        <p><b>Teacher: </b>Mrs. Stokoe and Mr. Barron</p>
        <hr>
      </div>
      <div id="question">
        <h3>Driving Question</h3>
        <p>How is digital media utilized in order to increase publicity, such as
           in community outreach, the spreading of a message, or product sales?</p>
        <hr>
      </div>
      <div id="goals">
        <h3>Goals/Learning Targets</h3>
        <p><b>Personal: </b>I want to improve my communication skills, which
          involves being able to communicate my ideas, questions, and concerns
          with professionals from the field and speaking in front of a group.</p>
        <p><b>Content: </b>I want to learn about what makes certain marketing
          and publicity strategies more appealing/effective than others.</p>
        <p><b>Skills: </b>I want to improve my software design workflow using
          GitHub, a site where people can post code and keep track of projects,
          which includes using branches, opening issues, and referring to them
          in commits that are dedicated to resolving said issue.</p>
        <hr>
      </div>
      <div id="product">
        <h3>Anticipated Outcomes/Products</h3>
        <p>My product will be a choose-your-own-adventure style online game with
           a political or social commentary, which will be advertised through
           social media using the information gathered from research and
           interviews.</p>
        <hr>
      </div>
      <div id="audience">
        <h3>Potential Audiences</h3>
        <ul>
          <li>Anyone who enjoys choose-your-own-adventure style games or
            stories with a social or political commentary</li>
          <li>People within the age range of 14 to 18</li>
        </ul>
        <hr>
      </div>
      <div id="prior">
        <h3>Prior Knowledge (Content and Hands-on Experience)</h3>
        <ul>
          <li>I know several programming languages, which include Java, HTML,
             CSS, JavaScript, and Markdown. These are mainly through projects I
             have done in the past</li>
          <li>I am aware of how to use various social media platforms,
            despite the fact that I am not that popular, but I have made a
            couple of posts for the robotics team’s social media pages before.<p></li>
          <li>I am capable of creating digital art and how to make things more
            aesthetically pleasing.</li>
          <li>The plot I plan on using for the game was initially created my
            freshman year and already had a bit of a political theme, so I
            already have an idea of what I want to do for the story.</li>
          <li>I am comfortable with GitHub Pages, where I am hosting my
            website.</li>
          <li>I have worked on programming projects before, so I understand
            how much time these things really take and have adjusted my plan
            for my final product to make it more realistic and to reduce the
            amount of stress this causes me.</li>
        </ul>
        <hr>
      </div>
      <div id="obstacles">
        <h3>Anticipated Obstacles and Challenges</h3>
        <ul>
          <li>Build season for robotics is from January to February, so that
            will take up a large amount of my time.</li>
          <li>Time management will probably be one of my main obstacles
            because I am the captain of the robotics team. This requires a large
            time commitment and I participate in several other extracurriculars.
            Part of my robotics time commitment includes going to outreach events
            which could also be where I could get some data for research.</li>
          <li>I need to debug all of the code so it runs as smoothly as
            possible with little to no glitches.</li>
          <li>I need to find the right people to recruit for my group: I need
            someone for digital art (already decided) and someone else for
            marketing (to be decided).</li>
          <li>I need to find enough people/people who will give me useful
            feedback for the beta group.</li>
          <li>There may be times where I become overwhelmed with everything
            else going on (college stuff, schoolwork, robotics, etc.), so
            progress may slow during these periods.</li>
        </ul>
        <hr>
      </div>
      <div id="plan">
        <h3>Plan for Completion</h3>
          <div id="plan-item">
            <p id="head"><b><u>Preliminary Resesarch: Up through the week of October 23</u></b></p>
            <ul id="links">
                <li><a href="https://smokingcessationleadership.ucsf.edu/sites/smokingcessationleadership.ucsf.edu/files/Downloads/Toolkits/cdc_tips_digital_media_toolkit_final.pdf">
                  CDC Digital Media Toolkit</a></li>
                <li><a href="https://www.weforum.org/agenda/2016/01/how-does-digital-media-really-affect-us/">
                  How Does Digital Media Really Affect Us? - World Economic Forum</a></li>
            </ul>
              <p>The first source provided information about the digital media
                advertising plan for an organization. The second source gave
                information about the impact of social media on daily interactions.
                 Future sources will be related to the demographics of each platform
                 and ideal usage.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Interviews (Students): October 23 to October 30</b></p>
              <ul>
                <li>Previous head of media on the robotics team</li>
              </ul>
              <p>I plan on interviewing the previous head of media of the robotics
                team, as he is the most accessible. The interviews would consist
                of asking which platforms are utilized, if there is a difference
                in messages on each one, and the level of response on each platform.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Interviews (Business): October 30 to November 6</b></p>
            <ul>
              <li>Contact at Primacy</li>
              <li>Mrs. Ohanesian</li>
            </ul>
            <p>I plan on getting in contact with Mrs. Ohanesian to try to get a
              connection with someone at Primacy who works in either the media
              or marketing department to learn about how they customize plans
              for different purposes in order to maximize visibility.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Team Recruitment: October 30 to November 6</b></p>
            <ul>
              <li>Michelle Li</li>
              <li>Person in charge of marketing</li>
              <li>Mr. Barron (Consulting)</li>
            </ul>
            <p>A piece of advice I had gotten from the capstone interviews was
              that I should recruit some other students in order to ensure that
              each part is executed well. Rather than attempting to do
              storywriting, art, programming, and marketing by myself, it would
              be more effective if I delegated these tasks and focused on the
              programming aspect. Michelle Li would help out with artwork for
              the game and the person in charge of marketing has yet to be decided.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Development of Strategy: October 30 to November 13</b></p>
            <ul>
              <li>Person in charge of marketing</li>
            </ul>
            <p>After gathering information from research and interviews, I will
              work with whoever I choose to be in charge of marketing to design
              how we want to advertise the game, which could include teasers of
              the plot, work-in-progress sketches, or promotional pictures.
              Based off of the platform used, the posts may be different and in
              order to maintain consistency, a plan will be made.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Plot of Product: Up through the week of December 25</b></p>
            <ul>
              <li>Teachers from English department</li>
              <li>Other students</li>
            </ul>
            <p>The main part of the plot has already been written, but I will
              still consult with some English teachers to make sure the message
              I am trying to convey is clear enough. To check for general
              clarity, I may ask some students to read over the plot of a
              specific branch of the story and see if they think the story flows
              well or if there are any major holes.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Front-end Design: January 1 to March 5</b></p>
            <ul>
              <li>Michelle Li</li>
            </ul>
            <p>This part will be delegated to Michelle Li, a senior in the
              e-commerce capstone program. She has offered to make some
              backgrounds for the game because she can also use these images for
              her art portfolio (She has permission). Other elements, such as the
              character icons and the text box are already created, so all that
              needs to be made are the backgrounds.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Back-end Design: Up through the week of March 5</b></p>
            <ul>
              <li>My brother</li>
              <li>Mr. Barron</li>
            </ul>
            <p>I will discuss some ideas for how to approach the collection and
              processing of the information with my brother and
              Mr. Barron. I do have an idea of how I want it to be structured.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Beta Testing and Debugging: Beta from February 5 to
              February 12, debugging from February 5 to March 5</b></p>
            <ul>
              <li>Beta team</li>
              <li>My brother</li>
              <li>Mr. Barron</li>
              <li>My cousin</li>
              <li>StackOverflow (Forum for programming)</li>
            </ul>
            <p>The beta group will consist of students I can rely on to give me
              good advice for the flow of the plot and to find any bugs in the
              mechanics. For debugging, if I encounter a problem I am unable to
              resolve, I will try to look things up on StackOverflow, a forum
              dedicated to helping others with their programming questions. If
              there is not enough information from the forum, I could ask my
              brother, my cousin (who has extensive experience in programming),
              or Mr. Barron.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Advertisement: December 25 to March 5</b></p>
            <ul>
              <li>Person in charge of marketing</li>
            </ul>
            <p>The main task of actually advertising the game will be assigned
              to another person (to be decided), but I will be involved in the
              development of the marketing plan. What the other person will do
              is create posts for the different platforms and manage the accounts.
              This will require the creation of separate social media accounts
              for the game, which will most likely be initially advertised through
              our personal social media accounts.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Game Release: Sometime during the week of March 5</b></p>
            <p>This will be done after everything has been debugged. In order to
              reduce the amount of stress from this project, instead of rushing
              to finish the entire plot for a specific date, I could do a gradual
              release date, where part of the game is released on that date and
              the remaining parts are released one at a time each week.</p>
          </div>
          <div id="plan-item">
            <p id="head"><b>Create Presentation: Compile information up until March 5</b></p>
            <p>The presentation will consist of information gathered from
              research, interviews, data collected during the advertisement
              process, and response to the release date.</p>
          </div>
      </div>
    </div>
</body>
</html>
