<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <link href="../../assets/css/accordion.css" rel="stylesheet"/>
  <div class="header">
    <h1>Email Exchanges</h1>
  </div>
</head>
<body>
  <div class="container">
    <button class="accordion">Capstone Networking Conference</button>
    <div class="panel">
      <p>Dear Mrs. Swanson, <br/>
        Thank you for taking the time to interview me yesterday. I enjoyed
        discussing my capstone idea with you and I think the advice you gave
        me about potentially recruiting other people to help me with different
        parts of my project. I look forward to contacting you again in the
        future for advice! Information and updates for my capstone will be
        at silversapo.github.io/capstone.<br/>
        Sincerely,<br/>
        Elizabeth Cho</p>
    </div>
    <button class="accordion">Community Contact</button>
   <div class="panel">
     <p>Dear Mr. Kamenskiy, <br/>
       My name is Elizabeth Cho and Mr. Barron contacted you a while ago about
       my capstone project. The research section of my project is looking at
       how digital media can help with publicity and the product I will create
       is a choose-your-own-adventure style game. I will most likely need your
       help with the product component of the project. The languages I am
       currently using for the game are HTML, CSS, and JavaScript, but I would
       also like some advice on if there might be better ways to approach some
       problems I encounter in the future. My GitHub repository is here and my
       website is silversapo.github.io/capstone. Thank you for your help. <br/>
       Sincerely, <br/>
       Elizabeth Cho</p>
     <hr>
     <p>Hi Mr. Kamenskiy, <br/>
       This is Elizabeth and I've been working on the choose-your-own-adventure
       game. I was planning on putting the dialogue for the characters/lines
       about what's going on as well as what images should be used into a
       spreadsheet and create multiple spreadsheets to separate the different
       parts of the game (like if the user is on the first path, they'll be
       getting info from spreadsheet A but if they're on the second path,
       they'll get info from spreadsheet B). I was wondering if it would be
       possible to put these spreadsheets into a database and then use
       javascript to read from the spreadsheets. If it is, how do you think I
       should go about doing this? Thanks. <br/>
       - Elizabeth Cho</p>
     <hr>
     <p>Hey Mr. Kamenskiy, <br/>
       I've set up an AWS RDS instance and I've been trying to figure out how
       to connect this to my GitHub website, but I haven't been able to find
       anything that would really help me. Is this possible to do or am I
       better off going with Elastic Beanstalk or trying to use JavaScript
       to pull information from the databases? <br/>
       - Elizabeth Cho</p>
     <hr>
     <p>Hi Mr. Kamenskiy, <br/>
       So what I have so far is HTML, CSS, and JavaScript files for the page
       on GitHub and I am trying to use PHP to connect to the database, but
       this does not seem to work with GitHub pages. I was wondering if I
       should publish the files (HTML, CSS, JS, and PHP) on AWS or if there is
       another place where I could publish them. <br/>
       Also, could I get information about where you work and what your
       position is? <br/>
       Thanks, <br/>
       Elizabeth Cho </p>
   </div>
  </div>
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for(i = 0; i < acc.length; i++){
    acc[i].onclick = function(){
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if(panel.style.maxHeight){
        panel.style.maxHeight = null;
      }
      else{
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  }
  </script>
</body>
</html>
