<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Digital Media and Publicity</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="content">
      <h3>Driving question</h3>
      <p>How is digital media utilized in order to
      increase publicity, such as in outreach, the spread of a message, or
      product sales?</p>
      <h3>Focus of project</h3>
      <p>Computer science</p>
      <h3>Description:</h3>
      <p>The program I am currently in is custom capstone, which consists of an
      independently led project. Students are required to develop a driving
      question, conduct research, and create a final product. While doing so,
      they must set their own pace in order to complete the project on time.</p>
      <p>My project looks at how digital media, such as websites, social media,
      and graphic design, are used to draw people in and generally get the word
      out to the public. This includes looking at which social media platforms
      are better for which demographics and what kind of language draws people
      in. This information will be utilized to advertise an online game I create
      with the aid of others that contains a social or political message.</p>
    </div>
  </div>
</body>
</html>
