<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Mid-Year Presentation</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="content">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSKXEzGzkepf1EEuTjj1R-qYajnEDI1Es29gf3uxalPETQG10k1TbsujIyvl2_I4ulRoVcFX3wh1yzY/embed?start=false&loop=false&delayms=30000"
      frameborder="0" width="480" height="299" allowfullscreen="true"
      mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <a href="https://drive.google.com/file/d/1mpqKI0c9EGyEMNC330TtJuvq9FIG3vvc/view?usp=sharing"
    class="button">Video of presentation</a>
  </div>
</body>
</html>

<!---Add presentation/video, reflections, additional sources
     Figure out how to add pictures/sample pictures--->
