<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Reflections</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="update">
      <h3>September Advisor Meetings</h3>
      <p>I have met with my advisor a couple of times and topics discussed included
        the general idea and path for my research and final product and potential
        next steps, such as ideas for community connections. Following the
        networking conference, the idea of recruiting a "support team" was also
        mentioned, where I would delegate some of the parts of the final product
        to others who were willing to help me, rather than attempting to manage
        every single aspect of my planned final project and balance my schoolwork
        and extracurriculars.</p>
    </div>
    <hr>
    <div class="update">
      <h3>Capstone Networking Conference: September 26, 2017</h3>
      <p>At this conference, I met with a professional who did work in a field
        similar to my research topic, who happened to work on more of the
        business side of the idea I had. One main takeaway I got from this event
        was the idea of recruiting other students for a team so I could focus
        more on the coding part of the project and I could delegate art and
        marketing to other people. I added this tip to my design plan and allocated
        time to look for who might be a good fit for the role of marketing. </p>
    </div>
    <hr>
    <div class="update">
      <h3>Advisor Meeting: October 13, 2017</h3>
      <p>I had this meeting mainly to discuss my design plan, which included
        going over it and seeing what could be added and improved. After this
        meeting, I added approximate deadlines for each step in the task list and
        explitly listed out who my specific resources for each step.</p>
    </div>
    <hr>
    <div class="update">
      <h3>Advisor Meeting: October 20, 2017</h3>
      <p>This was a shorter meeting and what was mainly discussed was how I would
        approach my goal of improving my public speaking skills. I initially
        planned on practicing with robotics meetings because I often have to stand
        up in front of the team to talk about current projects and upcoming events.
        However, it was suggested that I find someone who I could specifically
        talk to so I could work on my public speaking skills because I wanted to
        work on both speaking in front of a larger audience and one-on-one with
        professionals.</p>
    </div>
    <hr>
    <div class="update">
      <h3>Capstone Design Plan</h3>
      <p>I spent a considerable amount of effort in writing out the steps and
        thinking of who to ask as references. Rather than saving all of the work
        for last, I worked on it during class and at home and took time to meet
        with my advisor for advice on where it could be improved. I also got more
        ideas for who I could talk to for help because I don't know too many
        people who specialize in web development. While working on the design
        plan, I thought of the specific steps I would typically need to go through
        when working on a software project, such as back-end design, front-end
        design, and debugging. I also went through what I typically had to go
        through in a day when coming up with information about potential obstacles.</p>
    </div>
    <hr>
    <div class="update">
      <h3>Mid-Year Presentation Reflection</h3>
      <p>In this presentation, I was able to maintain a good pace throughout,
        although there was a moment where I had to wait a few seconds before
        the slide changed. In terms of speaking, I didn't speak too quickly,
        which allowed me to compose my thoughts as I went through the
        presentation. I was on the quieter side, but this could have been
        attributed to the fact that I was sick the day I was presenting. I did
        use crutch words and stutter at a couple of places throughout, which was
        due to the fact that I did feel a little nervous as I was presenting. One
        thing I noticed with my gestures was that I tend to use my left hand more
        than my right hand. The main thing I can do to improve for my final
        presentation is practice several times prior to the presentation date
        because I was comfortable with the content I was talking about and I did
        not feel like I had to spend an excessive amount of effort memorizing
        what I had to say. I did have notes with me, but only had to glance down
        at them occasionally.
      <p>Visually, the presentation was simple and clear with little text on
        the slides, but because of the theme I used, some of the text was
        difficult to read from the audience. In my final presentation, I will
        need to make sure there is enough contrast between the text and the
        background so it is readable from a distance.</p>
    <hr>
    <div class="update">
      <h3>Capstone Reflection and Advisor Meetings: Quarter 2</h3>
      <p>In November and December, I continued with my research by looking at
        additional resources, which included some abstracts to papers. I also
        worked on developing the game. When I met with my advisor, we discussed
        better ways to manage my time and prioritize my tasks, which involved
        listing out everything I had to do and sorting them based off of Randy
        Pausch's method of priority/not a priority and long-term/short-term. We
        also looked at some draft emails and questions I wrote for my community
        connections and interviews.</p>
      <p>In January, I met with my advisor to talk about my progress in the
        research and contacting process. Although I have reached out to
        Pixelberry, I have yet to get a response, so I will need to spend more
        time on finding a more direct method of contacting them instead of using
        their support email. Some more time during this meeting was spent on
        discussing the public speaking aspect of my project. In my
        <a href="/capstone/design">design plan</a>, one of my goals was to
        improve my communication skills because I knew that this is one of the
        main weaknesses I have. A couple of options we discussed to progress in
        this area included reading a book about public speaking, attending
        classes or clubs dedicated to giving spontaneous talks, and asking
        others in the school or community for advice.</p>
      <p>Over the past couple of months, I have been taking mental notes about
        what works for me in terms of public speaking to identify areas of
        improvement. I made these observations while doing presentations, such as
        the mid-year presentation, and while talking to the robotics team during
        meetings. Some things that I have noticed were that I am less stressed
        out when I am well-prepared for a presentation, but also when I don't
        care as much about what I am presenting, despite the fact that it seems
        counterintuitive. By knowing these things, I am more aware of what makes
        me more comfortable in these types of situations.</p>
      <p>However, I have also noticed that I have an aversion to sending emails
        to people I am not familiar with, which leads to me putting it off for
        as long as I can. To deal with this, it seems like the only way is to
        send the email and get it over with. Another obstacle is managing my
        time throughout the rest of the year. I had thought that I would have
        more time after I was done with the college admissions process in
        December, but I was met with other tasks and events, such as build season
        in robotics and a lot of work in my other classes. This is where I would
        have to stick to the schedule I create for myself to ensure that I can
        complete everything I have to do while gettin enough slee, but also
        communicating when I am having trouble with managing what I have to do
        to see if there are other more efficient ways of doing things.</p>
      <p>To complete my project by the end of the year, one of the main things I
        need to do is create social media accounts, which would include Facebook,
        Twitter, and Instagram, as well as accounts on additional appropriate
        platforms. Rather than delegating the task of managing the accounts to
        someone else, which was my initial plan, I will control the accounts,
        which makes more sense in the context of the focus of my research over
        the past several months. I also plan on contacting more people to
        complete my research.</p>
      <p>The other main component of my project is the game I will be advertising.
        So far, I have written out the plot of the story and I am currently
        working on both the layout and the mechanics behind the game. I plan on
        maintaining contact with Stan Kamenskiy, who has given me advice on data
        storage, as well as referring to forums such as StackOverflow to figure
        out simpler problems.</p>
    </div>
  </div>
</body>
</html>
