<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Research</h1>
  </div>
</head>
<body>
  <div class="container">
    <ul class="noteLink">
      <li><a href="https://smokingcessationleadership.ucsf.edu/sites/smokingcessationleadership.ucsf.edu/files/Downloads/Toolkits/cdc_tips_digital_media_toolkit_final.pdf">
        CDC Digital Media Toolkit</a></li>
      <li><a href="https://www.weforum.org/agenda/2016/01/how-does-digital-media-really-affect-us/">
        How Does Digital Media Really Affect Us? - World Economic Forum</a></li>
    </ul>
    <ul class="noteSheets">
      <!---Include a link to a live document with organized stuff--->
    </ul>
  </div>
</body>
</html>
