<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Reflections</h1>
  </div>
</head>
<body>
  <div class="container">
    <div class="update">
      <h3>Update 1: Advisor Meeting</h3>
      <p>I have met with my advisor a couple of times and all that was discussed
        was the general idea and path for my research and final product and
        potential next steps, such as who else I could consult and my
        community connection requirement.</p>
    </div>
  </div>
</body>
</html>
