<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <div class="header">
    <h1>Research</h1>
  </div>
</head>
<body>
  <div class="container">
    <h3>Digital/Text Sources</h3>
    <ul class="noteLink">
      <li><a href="https://smokingcessationleadership.ucsf.edu/sites/smokingcessationleadership.ucsf.edu/files/Downloads/Toolkits/cdc_tips_digital_media_toolkit_final.pdf">
        CDC Digital Media Toolkit</a></li>
      <li><a href="https://www.weforum.org/agenda/2016/01/how-does-digital-media-really-affect-us/">
        How Does Digital Media Really Affect Us? - World Economic Forum</a></li>
      <li><a href="https://foxtailmarketing.com/digital-marketing-benefits-media-outreach/">
        The Digital Marketing Benefits of Media Outreach</a></li>
      <li><a href="http://www.sciencedirect.com/science/article/pii/S0007681314000949">
        Digital marketing and social media: Why bother?</a></li>
      <li><a href="http://www.sciencedirect.com/science/article/pii/S0363811110001335">
        Keeping up with the digital age: How the American Red Cross uses social media to build relationships</a></li>
      <li><a href="http://www.sciencedirect.com/science/article/pii/S0007681311000243">
        We're all connected: The power of the social media ecosystem</a></li>
    </ul>
    <h3>Interviews</h3>
    <ul>
      <li>Previous head of media on robotics team</li>
    </ul>
    <a href="https://docs.google.com/document/d/e/2PACX-1vQyf93NFBVQXTfi_jfm_lXWC1KxQPaBb21Bz4pIGGW9qWIXYlIO3InRZxhnUahncWfn2XqGELZifPmd/pub"
    class="button">Live Notesheet</a>
    <a href="https://docs.google.com/document/d/e/2PACX-1vS7ACYjznloC0TWzLzTu72Jv8o3UuCV-JUVrj6kkc0Jmk6Eiv14micWT-f0ef9BjE9SJvNL_CpMVXao/pub"
    class="button">Interview Questions</a>
  </div>
</body>
</html>
