<!DOCTYPE html>
<html>
<link href="../assets/css/text.css" rel="stylesheet"/>
<link href="../assets/css/splitlayout.css" rel="stylesheet"/>
<link href="../assets/css/resume.css" rel="stylesheet"/>
<script type="text/javascript" src="../assets/js/sidetab.js"></script>
  <body class="nav-included">
    <!---Sidebar--->
    <div class="tab-panel" id="side-tab-pane">
      <button class="side-tab" onclick="openTab('about')">About</button>
      <button class="side-tab" onclick="openTab('design')">Design Plan</button>
      <button class="side-tab" onclick="openTab('mid')">Midyear Presentation</button>
      <button class="side-tab" onclick="openTab('research')">Research</button>
      <button class="side-tab" onclick="openTab('reflections')">Reflections</button>
      <button class="side-tab" onclick="openTab('final')">Final Presentation</button>
    </div>
    <!---Tabbed content--->
    <!---About--->
    <div id="about" class="tabbed-content">
      <h1>About the Project</h1>
      <hr>
        <p>The capstone program at Farmington High School allows students to
          design a project and conduct research on a topic in which they are
          interested. At the conclusion of the research, students are expected
          to create a product from the information they have collected, whether
          it be a research paper, a new device, or any other concept that is
          applicable to their project</p>
        <p>The custom capstone is more student-led than the other capstone
          courses offered at the high school, as students have the ability to
          choose their research topic as well as decide what their product will
          be. As a result, they are also responsible for setting their own
          goals and checkpoints.</p>
        <p>My research  was focused on how digital media can be used for
          publicity, mainly in outreach, the spread of messages, and product
          sales. This information was used to create an advertisement plan for
          a game that I developed throughout the year.</p>
    </div>
    <!---Design Plan--->
    <div id="design" class="tabbed-content" style="display:none">
      <h1>Design Plan</h1>
      <hr>
      <ul>
        <div class="item">
          <!---Question--->
          <div class="title-general">
            <h3>Driving Question</h3>
          </div>
          <div class="desc-single">
            <p>How is digital media utilized in order to increase publicity,
              such as in community outreach, the spreading of a message, or
              product sales?</p>
          </div>
        </div>
        <!---Learning targets--->
        <div class="item">
          <div class="title-general">
            <h3>Goals/Learning Targets</h3>
          </div>
          <div class="desc-single">
            <p><b>Personal: </b>I want to improve my communication skills, which
              involves being able to communicate my ideas, questions, and concerns
              with professionals from the field and speaking in front of a group.</p>
            <br>
            <p><b>Content: </b>I want to learn about what makes certain marketing
              and publicity strategies more appealing/effective than others.</p>
            <br>
            <p><b>Skills: </b>I want to improve my software design workflow using
              GitHub, a site where people can post code and keep track of projects,
              which includes using branches, opening issues, and referring to them
              in commits that are dedicated to resolving said issue.</p>
          </div>
        </div>
        <!---Products--->
        <div class="item">
          <div class="title-general">
            <h3>Anticipated Outcomes/Products</h3>
          </div>
          <div class="desc-single">
            <p>My product will be an advertisement plan for a choose-your-own-
              adventure style online game with a political or social commentary.
              The plan will be created using the information gathered from
              research and interviews</p>
          </div>
        </div>
        <!---Audiences--->
        <div class="item">
          <div class="title-general">
            <h3>Potential Audiences</h3>
          </div>
          <div class="desc-single">
            <p>Anyone who enjoys choose-your-own-adventure style games or stories
              with a social or political commentary</p>
            <br>
            <p>People within the age range of 14 to 18</p>
          </div>
        </div>
        <!---Prior knowledge--->
        <div class="item">
          <div class="title-general">
            <h3>Prior Knowledge (Content and Hands-on Experience)</h3>
          </div>
          <div class="desc-single">
            <p>I know several programming languages, which include Java, HTML,
               CSS, JavaScript, and Markdown. These are mainly through projects
               I have done in the past.</p>
            <br>
            <p>I am aware of how to use various social media platforms,
              despite the fact that I am not that popular, but I have made a
              couple of posts for the robotics team’s social media pages before.</p>
            <br>
            <p>I am capable of creating digital art and how to make things more
              aesthetically pleasing.</p>
            <br>
            <p>The plot I plan on using for the game was initially created my
              freshman year and already had a bit of a political theme, so I
              already have an idea of what I want to do for the story.</p>
            <br>
            <p>I am comfortable with GitHub Pages, where I am hosting my
              website.</p>
            <br>
            <p>I have worked on programming projects before, so I understand
              how much time these things really take and have adjusted my plan
              for my final product to make it more realistic and to reduce the
              amount of stress this causes me.</p>
          </div>
        </div>
        <!---Obstacles--->
        <div class="item">
          <div class="title-general">
            <h3>Anticipated Obstacles and Challenges</h3>
          </div>
          <div class="desc-single">
            <p>Build season for robotics is from January to February, so that
              will take up a large amount of my time.</p>
            <br>
            <p>Time management will probably be one of my main obstacles
              because I am the captain of the robotics team. This requires a large
              time commitment and I participate in several other extracurriculars.
              Part of my robotics time commitment includes going to outreach events
              which could also be where I could get some data for research.</p>
            <br>
            <p>I need to debug all of the code so it runs as smoothly as
              possible with little to no glitches.</p>
            <br>
            <p>There may be times where I become overwhelmed with everything
              else going on (college stuff, schoolwork, robotics, etc.), so
              progress may slow during these periods.</p>
          </div>
        </div>
        <!---Plan for completion oh boy this one's long--->
        <div class="item">
          <div class="title-general">
            <h3>Plan for Completion</h3>
          </div>
          <div class="desc-single">
            <p>Preliminary research</p>
            <br>
            <p>Student interviews</p>
            <br>
            <p>Completion of research</p>
            <br>
            <p>Mapping out storyline of game</p>
            <br>
            <p>Development of advertisement strategy</p>
            <br>
            <p>Front-end design (Artistic aspect of game)</p>
            <br>
            <p>Back-end design (Technical aspect of game)</p>
            <br>
            <p>Game debuggging</p>
          </div>
        </div>
      </ul>
    </div>
    <!---Midyear Presentation--->
    <div id="mid" class="tabbed-content" style="display:none">
      <h1>Mid-Year Presentation</h1>
      <hr>
      <div class="presentation">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSKXEzGzkepf1EEuTjj1R-qYajnEDI1Es29gf3uxalPETQG10k1TbsujIyvl2_I4ulRoVcFX3wh1yzY/embed?start=false&loop=false&delayms=30000"
        frameborder="0" width="480" height="299" allowfullscreen="true"
        mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <!---Research and Works Cited--->
    <div id="research" class="tabbed-content" style="display:none">
      <h1>Research</h1>
      <hr>
      <ul>
        <div class="item">
          <div class="title-general">
            <h3>Digital/Text Sources</h3>
          </div>
          <div class="desc-single">
            <p><a href="https://smokingcessationleadership.ucsf.edu/sites/smokingcessationleadership.ucsf.edu/files/Downloads/Toolkits/cdc_tips_digital_media_toolkit_final.pdf">
              CDC Digital Media Toolkit</a></p>
            <p><a href="https://www.weforum.org/agenda/2016/01/how-does-digital-media-really-affect-us/">
              How Does Digital Media Really Affect Us? - World Economic Forum</a></p>
            <p><a href="https://foxtailmarketing.com/digital-marketing-benefits-media-outreach/">
              The Digital Marketing Benefits of Media Outreach</a></p>
            <p><a href="http://www.sciencedirect.com/science/article/pii/S0007681314000949">
              Digital marketing and social media: Why bother?</a></p>
            <p><a href="http://www.sciencedirect.com/science/article/pii/S0363811110001335">
              Keeping up with the digital age: How the American Red Cross uses social media to build relationships</a></p>
            <p><a href="http://www.sciencedirect.com/science/article/pii/S0007681311000243">
              We're all connected: The power of the social media ecosystem</a></p>
            <p><a href="https://www.sas.com/en_us/insights/marketing/digital-marketing.html">
              Digital Marketing: What it is and why it matters</a></p>
            <p><a href="http://smallbusiness.chron.com/positive-negative-impact-digital-media-business-20910.html">
              The Positive & Negative Impact of Digital Media on Business</a></p>
            <p><a href="https://www.huffingtonpost.com/roger-bryan/5-simple-digital-marketin_b_4816425.html">
              5 Simple Digital Marketing Strategies That Can Help Your Business Grow</a></p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>Interviews</h3>
          </div>
          <div class="desc-single">
            <p>Previous head of media on robotics team</p>
          </div>
        </div>
      </ul>
    </div>
    <!---Reflections--->
    <div id="reflections" class="tabbed-content" style="display:none">
      <h1>Reflections</h1>
      <hr>
      <ul>
        <div class="item">
          <div class="title-general">
            <h3>September Advisor Meetings</h3>
          </div>
          <div class="desc-single">
            <p>I have met with my advisor a couple of times and topics discussed included
              the general idea and path for my research and final product and potential
              next steps, such as ideas for community connections. Following the
              networking conference, the idea of recruiting a "support team" was also
              mentioned, where I would delegate some of the parts of the final product
              to others who were willing to help me, rather than attempting to manage
              every single aspect of my planned final project and balance my schoolwork
              and extracurriculars.</p>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h3>Capstone Networking Conference</h3>
          </div>
          <div class="timeframe">
            <h3>September 26, 2017</h3>
          </div>
          <div class="desc">
            <p>At this conference, I met with a professional who did work in a field
              similar to my research topic, who happened to work on more of the
              business side of the idea I had. One main takeaway I got from this event
              was the idea of recruiting other students for a team so I could focus
              more on the coding part of the project and I could delegate art and
              marketing to other people. I added this tip to my design plan and allocated
              time to look for who might be a good fit for the role of marketing.</p>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h3>Advisor Meeting</h3>
          </div>
          <div class="timeframe">
            <h3>October 13, 2017</h3>
          </div>
          <div class="desc">
            <p>I had this meeting mainly to discuss my design plan, which included
              going over it and seeing what could be added and improved. After this
              meeting, I added approximate deadlines for each step in the task list and
              explitly listed out who my specific resources for each step.</p>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h3>Advisor Meeting</h3>
          </div>
          <div class="timeframe">
            <h3>October 20, 2017</h3>
          </div>
          <div class="desc">
            <p>This was a shorter meeting and what was mainly discussed was how I would
              approach my goal of improving my public speaking skills. I initially
              planned on practicing with robotics meetings because I often have to stand
              up in front of the team to talk about current projects and upcoming events.
              However, it was suggested that I find someone who I could specifically
              talk to so I could work on my public speaking skills because I wanted to
              work on both speaking in front of a larger audience and one-on-one with
              professionals.</p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>Capstone Design Plan</h3>
          </div>
          <div class="desc-single">
            <p>I spent a considerable amount of effort in writing out the steps and
              thinking of who to ask as references. Rather than saving all of the work
              for last, I worked on it during class and at home and took time to meet
              with my advisor for advice on where it could be improved. I also got more
              ideas for who I could talk to for help because I don't know too many
              people who specialize in web development. While working on the design
              plan, I thought of the specific steps I would typically need to go through
              when working on a software project, such as back-end design, front-end
              design, and debugging. I also went through what I typically had to go
              through in a day when coming up with information about potential obstacles.</p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>Mid-Year Presentation Reflection</h3>
          </div>
          <div class="desc-single">
            <p>In this presentation, I was able to maintain a good pace throughout,
              although there was a moment where I had to wait a few seconds before
              the slide changed. In terms of speaking, I didn't speak too quickly,
              which allowed me to compose my thoughts as I went through the
              presentation. I was on the quieter side, but this could have been
              attributed to the fact that I was sick the day I was presenting. I did
              use crutch words and stutter at a couple of places throughout, which was
              due to the fact that I did feel a little nervous as I was presenting. One
              thing I noticed with my gestures was that I tend to use my left hand more
              than my right hand. The main thing I can do to improve for my final
              presentation is practice several times prior to the presentation date
              because I was comfortable with the content I was talking about and I did
              not feel like I had to spend an excessive amount of effort memorizing
              what I had to say. I did have notes with me, but only had to glance down
              at them occasionally.</p>
            <br>
            <p>Visually, the presentation was simple and clear with little text on
              the slides, but because of the theme I used, some of the text was
              difficult to read from the audience. In my final presentation, I will
              need to make sure there is enough contrast between the text and the
              background so it is readable from a distance.</p>
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h3>Capstone Reflection and Advisor Meetings</h3>
          </div>
          <div class="timeframe">
            <h3>Quarter 2</h3>
          </div>
          <div class="desc">
            <p>In November and December, I continued with my research by looking at
              additional resources, which included some abstracts to papers. I also
              worked on developing the game. When I met with my advisor, we discussed
              better ways to manage my time and prioritize my tasks, which involved
              listing out everything I had to do and sorting them based off of Randy
              Pausch's method of priority/not a priority and long-term/short-term. We
              also looked at some draft emails and questions I wrote for my community
              connections and interviews.</p>
            <br>
            <p>In January, I met with my advisor to talk about my progress in the
              research and contacting process. Although I have reached out to
              Pixelberry, I have yet to get a response, so I will need to spend more
              time on finding a more direct method of contacting them instead of using
              their support email. Some more time during this meeting was spent on
              discussing the public speaking aspect of my project. In my
              design plan</a>, one of my goals was to improve my communication
              skills because I knew that this is one of the main weaknesses I
              have. A couple of options we discussed to progress in this area
              included reading a book about public speaking, attending classes
              or clubs dedicated to giving spontaneous talks, and asking others
              in the school or community for advice.</p>
            <br>
            <p>Over the past couple of months, I have been taking mental notes about
              what works for me in terms of public speaking to identify areas of
              improvement. I made these observations while doing presentations, such as
              the mid-year presentation, and while talking to the robotics team during
              meetings. Some things that I have noticed were that I am less stressed
              out when I am well-prepared for a presentation, but also when I don't
              care as much about what I am presenting, despite the fact that it seems
              counterintuitive. By knowing these things, I am more aware of what makes
              me more comfortable in these types of situations.</p>
            <br>
            <p>However, I have also noticed that I have an aversion to sending emails
              to people I am not familiar with, which leads to me putting it off for
              as long as I can. To deal with this, it seems like the only way is to
              send the email and get it over with. Another obstacle is managing my
              time throughout the rest of the year. I had thought that I would have
              more time after I was done with the college admissions process in
              December, but I was met with other tasks and events, such as build season
              in robotics and a lot of work in my other classes. This is where I would
              have to stick to the schedule I create for myself to ensure that I can
              complete everything I have to do while gettin enough slee, but also
              communicating when I am having trouble with managing what I have to do
              to see if there are other more efficient ways of doing things.</p>
            <br>
            <p>To complete my project by the end of the year, one of the main things I
              need to do is create social media accounts, which would include Facebook,
              Twitter, and Instagram, as well as accounts on additional appropriate
              platforms. Rather than delegating the task of managing the accounts to
              someone else, which was my initial plan, I will control the accounts,
              which makes more sense in the context of the focus of my research over
              the past several months. I also plan on contacting more people to
              complete my research.</p>
            <br>
            <p>The other main component of my project is the game I will be advertising.
              So far, I have written out the plot of the story and I am currently
              working on both the layout and the mechanics behind the game. I plan on
              maintaining contact with Stan Kamenskiy, who has given me advice on data
              storage, as well as referring to forums such as StackOverflow to figure
              out simpler problems.</p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>February Reflection</h3>
          </div>
          <div class="desc-single">
            <p>The personal goal I had set was to improve my communication skills,
              which included communicating with professionals and speaking in front of
              a group. I feel like I have improved more on the second part of my goal
              because I am more comfortable with presenting to groups and I have
              learned how to prepare myself so I am not as nervous. This was mainly
              done through practice in numerous situations, mainly through robotics,
              but also presenting my progress to the class. However, I have not made
              much progress on the first part of my goal where I communicate with
              professionals in my field, partially due to a busy schedule and
              reluctance. However, now that build season for robotics is over, I need
              to push myself to make more progress on this so I can meet this goal by
              the end of the project.</p>
            <br>
            <p>For my content goal, I planned on learning more about what makes certain
              marketing and publicity strategies more appealing/effective than others.
              The research part was mainly done prior to this reflection and I am
              currently in the implementation part. From my research, I have a better
              sense of how and why companies use social media accounts. Right now, I
              have set up social media accounts and I plan on setting up Google
              Analytics and something to help me manage my posts.</p>
            <br>
            <p>The goal I had for my skills was to improve my software design workflow
              through GitHub. I have made little progress on this, but I have created
              some issues on the repository and set up a project board after learning
              about that feature. However, I have gotten into the habit of planning
              things out before trying to write the code for it, which has led to
              less confusion in the long-run. I am incorporating the project board as
              a way of showing off progress made on the progress and what may be
              released in future updates.</p>
          </div>
        </div>
      </ul>
    </div>
    <!---Final Presentation--->
    <div id="final" class="tabbed-content" style="display:none">
      <h1>Final Presentation</h1>
      <hr>
      <div class="presentation">
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSeSWkmIQ_i2lF5DcRCagkyWoqKqVoprylfeJSMw3Kq226KKd5zIl7YfcL4aaI72EUfu08RPyOTdCAI/embed?start=false&loop=false&delayms=3000"
          frameborder="0" width="480" height="299" allowfullscreen="true"
          mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
    </div>
  </body>
</html>
