<!DOCTYPE html>
<link href="../assets/css/text.css" rel="stylesheet"/>
<link href="../assets/css/contact.css" rel="stylesheet"/>
<html>
  <div class="title">
    <h1>Contact Me</h1>
    <hr>
  </div>
  <div class="email">
    <h4>ContactElizabethCho@gmail.com</h4>
  </div>
  <div class="social-row">
    <div class="social-unit" id="github">
      <div class="extImg">
        <a href="https://www.github.com/SilverSapo">
          <img style="vertical-align:middle" src="../assets/Images/Icons/github.png">
        </a>
      </div>
      <div class="username">
        <p>SilverSapo</p>
      </div>
    </div>
    <div class="social-unit" id="linkedin">
      <div class="extImg">
        <a href="https://www.linkedin.com/in/elizabeth-cho-48b5b614b/">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/linkedin.png">
        </a>
      </div>
      <div class="username">
        <p>Elizabeth Cho</p>
      </div>
    </div>
    <div class="social-unit" id="facebook">
      <div class="extImg">
        <a href="https://www.facebook.com/SilverSapo">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/facebook.png">
        </a>
      </div>
      <div class="username">
        <p>SilverSapo</p>
      </div>
    </div>
    <div class="social-unit" id="twitter">
      <div class="extImg">
        <a href="https://www.twitter.com/xSilverSapo">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/twitter.png">
        </a>
      </div>
      <div class="username">
        <p>@xSilverSapo</p>
      </div>
    </div>
    <div class="social-unit" id="medium">
      <div class="extImg">
        <a href="https://medium.com/@18ChoEl"/>
          <img style="vertical-align:middle" src="../../assets/Images/Icons/medium.png">
        </a>
      </div>
      <div class="username">
        <p>@18ChoEl</p>
      </div>
    </div>
  </div>
</html>
