<!DOCTYPE html>
<link href="../assets/css/cover3.css" rel="stylesheet"/>
<link href="../assets/css/text.css" rel="stylesheet"/>
<html>
  <section class="banner">
    <!---<img src="../assets/Images/Character Banner.png">--->
    <div id="basic-info">
      <h2>Elizabeth Cho</h2>
      <h4>Farmington High School Class of 2018 | FRC 178</h4>
    </div>
  </section>
  <section class="cover-content">
  <div class="panel-link">
    <a href="/about">
      <img src="../assets/Images/Characters/cover/Self.gif">
    </a>
    <div class="desc-text">
      <p>About Me</p>
    </div>
  </div>
  <div class="panel-link">
    <a href="/projects">
      <img src="../assets/Images/Characters/cover/Onyx Arcane cover.gif">
    </a>
    <div class="desc-text">
      <p>Projects</p>
    </div>
  </div>
  <div class="panel-link">
    <a href="/resume">
      <img src="../assets/Images/Characters/cover/Jade Li cover.gif">
    </a>
    <div class="desc-text">
      <p>Resume</p>
    </div>
  </div>
  <div class="panel-link">
    <a href="/capstone">
      <img src="../assets/Images/Characters/cover/Chelsea Shasta cover.gif">
    </a>
    <div class="desc-text">
      <p>Capstone</p>
    </div>
  </div>
  </section>
</html>
