<!DOCTYPE html>
<html>
<head>
<link href="../../assets/css/text.css" rel="stylesheet"/>
<link href="../../assets/css/social.css" rel="stylesheet"/>
</head>
<body>
  <div class="sCont">
    <h4>Find me online!</h4>
    <ul>
      <div class="extImg">
        <a href="https://medium.com/@18ChoEl"/>
          <img style="vertical-align:middle" src="../../assets/Images/Icons/medium.png">
          <span>Medium</span>
        </a>
      </div>
      <div class="extImg">
        <a href="https://www.github.com/Elizabeth-Cho">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/github.png">
          <span>GitHub</span>
        </a>
      </div>
      <div class="extImg">
        <a href="https://www.linkedin.com/in/elizabeth-cho-48b5b614b/">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/linkedin.png">
          <span>LinkedIn</span>
        </a>
      </div>
      <div class="extImg">
        <a href="https://www.facebook.com/SilverSapo">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/facebook.png">
          <span>Facebook</span>
        </a>
      </div>
      <div class="extImg">
        <a href="https://www.twitter.com/xSilverSapo">
          <img style="vertical-align:middle" src="../../assets/Images/Icons/twitter.png">
          <span>Twitter</span>
        </a>
      </div>
    </ul>
</body>
</html>
