<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="../../assets/css/social.css" rel="stylesheet"/>
</head>
<body>
  <div class="sCont">
    <h4>-some title-</h4>
    <ul>
      <div class="extImg">
        <!---Instagram--->
        <a href="https://www.instagram.com/projectfirestorm/"/>
        <img style="vertical-align:middle" src="../../assets/Images/Icons/instagram.png">
        <span>Instagram</span>
      </div>
      <div class="extImg">
        <a href="https://twitter.com/Prjct_Firestorm"/>
        <img style="vertical-align:middle" src="../../assets/Images/Icons/twitter.png">
        <span>Twitter</span>
        <!---Twitter--->
      </div>
      <div class="extImg">
        <a href="https://prjctfirestorm.tumblr.com/"/>
        <img style="vertical-align:middle" src="../../assets/Images/Icons/tumblr.png">
        <span>Tumblr</span>
        <!---Tumblr--->
      </div>
      <div class="extImg">
        <!---Facebook--->
      </div>
      <div class="extImg">
        <a href="https://github.com/SilverSapo/SilverSapo.github.io/projects/1"/>
        <img style="vertical-align:middle" src="../../assets/Images/Icons/github.png">
        <span>GitHub</span>
        <!---GitHub--->
      </div>
