<!DOCTYPE html>
<html>
<head>
  <link href="../../assets/css/style.css" rel="stylesheet"/>
  <link href="../../assets/css/accordion.css" rel="stylesheet"/>
  <link href="../../assets/css/firestormabout.css" rel="stylesheet"/>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <script type="text/javascript" src="../../assets/js/tabs.js"></script>
  <div class="header">
    <h1>Project Firestorm</h1>
  </div>
</head>
<body>
  <div class="panel-container">
    <!---Teaser--->
    <div class="content-panel">
      <p>One choice, three fates: Which will you chose?</p>
    </div>
    <!---Intro tabs--->
    <div class="character-bar" id="char-bar">
      <button class="char-tab" onclick="openChar('Chelsea')">Chelsea</button>
      <button class="char-tab" onclick="openChar('Flurry')">Flurry</button>
      <button class="char-tab" onclick="openChar('Crystal')">Crystal</button>
      <button class="char-tab" onclick="openChar('Lucas')">Lucas</button>
      <button class="char-tab" onclick="openChar('Kevin')">Kevin</button>
      <button class="char-tab" onclick="openChar('Jade')">Jade</button>
      <button class="char-tab" onclick="openChar('Onyx')">Onyx</button>
      <button class="char-tab" onclick="openChar('Jasper')">Jasper</button>
      <!---<a href="javascript:void(0);" class="icon" onclick="openList()">&#9776;</a>--->
    </div>
    <div id="Chelsea" class="char">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Chelsea Shasta.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Chelsea Shasta</p>
        <p><b>Occupation: </b>Student</p>
        <p><b>Description: </b>5'5", brown hair, blue eyes, 18 years old</p>
        <p><b>Biography</b></p>
        <p>Born in Saphira, Chelsea comes from a family of four, with her twin
          brother, Chris, her mother, and father. Her two closest friends are
          Ruby and Alex. The three often spend time at the local cafe or just
          walking around town. She is currrently a candidate for the campaign
          for the Elemental position.</p>
      </div>
    </div>
    <div id="Flurry" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Flurry Hex.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Flurry Hex</p>
        <p><b>Occupation: </b>Candidate</p>
        <p><b>Description: </b>5'3", blonde hair, blue eyes, 17 years old</p>
        <p><b>Biography</b></p>
        <p>Flurry and her twin, Crystal, come from Citrine. In their hometown,
          they are known as dance prodigies. Their family is known for their
          discipline. Outside of dance, Flurry is a classical pianist. She,
          along witih Crystal, are candidates in the campaign for the Elemental
          position.</p>
      </div>
    </div>
    <div id="Crystal" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Crystal Hex.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Crystal Hex</p>
        <p><b>Occupation: </b>Candidate</p>
        <p><b>Description: </b>5'3", blonde hair, blue eyes, 17 years old</p>
        <p><b>Biography</b></p>
        <p>Crystal and her twin, Flurry, come from Citrine. In their hometown,
          they are known as dance prodigies.  Their family is known for their
          discipline. Outside of dance, Crystal is a traditional artist,
          ranging from watercolors to sculptures. She, along with Flurry, are
          candidates in the campaign for the Elemental position.</p>
      </div>
    </div>
    <div id="Lucas" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Lucas Blackmore.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Lucas Blackmore</p>
        <p><b>Occupation: </b>Candidate</p>
        <p><b>Description: </b>5'7", black hair, brown eyes, 18 years old</p>
        <p><b>Biography</b></p>
        <p>Lucas is from Achroite and is particularly skilled with technology.
          Although he appears to be heavily disciplined and uptight, he is
          primarily motivated by his desire to bring his family a better life
          and will take any opportunity to do so. He is currently a candidate
          in the campaign for the Elemental position.</p>
      </div>
    </div>
    <div id="Kevin" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Kevin Campbell.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Kevin Campbell</p>
        <p><b>Occupation: </b>Candidate</p>
        <p><b>Description: </b>5'5", black hair, brown eyes, 18 years old</p>
        <p><b>Biography</b></p>
        <p>Kevin comes from a family of three in Ammonite. In his hometown, he
          is primarily known for his athleticism in tennis, but has also made
          his name known in academics. Although he is not particularly
          interested in the world of politics, his friends and community
          convinced him to get involved. He is currently a candidate in the
          campaign for the Elemental position.</p>
      </div>
    </div>
    <div id="Jade" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Jade Li.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Jade Li</p>
        <p><b>Occupation: </b>Elemental Tactical</p>
        <p><b>Description: </b>5'5", black hair with red tips, brown eyes, 21 years old</p>
        <p><b>Biography</b></p>
        <p>Jade comes from Ammonite but currently resides in the capital of
          Amethyst as an Elemental Tactical. As the commanding officer of the
          Tacticals, her loyalties lie strictly with the Elemental Kingdom. She
          spends much of her time with Jasper and Onyx, leaders in their
          respective areas.</p>
      </div>
    </div>
    <div id="Onyx" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Onyx Arcane.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Onyx Arcane</p>
        <p><b>Occupation: </b>Elemental Specialist</p>
        <p><b>Description: </b>5'6", black hair, brown eyes, 21 years old</p>
        <p><b>Biography</b></p>
        <p>Onyx comes from Ammonite but currently resides in the capital of
          Amethyst as an Elemental Specialist. As a leader of the Specialists,
          he mainly deals with training the new recruits. He spends much of his
          time outside of training with Jade and Jasper, leaders in their
          respective areas.</p>
      </div>
    </div>
    <div id="Jasper" class="char" style="display:none">
      <div class="char-img">
        <img src="../../assets/Images/Characters/Jasper Yume.png"/>
      </div>
      <div class="char-info">
        <p><b>Name: </b>Jasper Yume</p>
        <p><b>Occupation: </b>Elemental Storm</p>
        <p><b>Description: </b>5'5", light brown hair, green eyes, 22 years old</p>
        <p><b>Biography</b></p>
        <p>Jasper comes from Ammonite but curently resides in the capital of
          Amethyst as an Elemental Storm. As the commanding officer of the
          Storms, she mainly oversees operations. She spends much of her time
          with Onyx and Jade, leaders in their respective areas.</p>
      </div>
    </div>
    <!---Social media--->
    <div class="content-panel">
      <h3>Connect to Project Firestorm</h3>
      <hr>
      <ul>
        <a href="https://www.instagram.com/projectfirestorm/" class="icon-list">
          <img src="../../assets/Images/Icons/instagram.png"/>
        </a>
        <a href="https://twitter.com/Prjct_Firestorm" class="icon-list">
          <img src="../../assets/Images/Icons/twitter.png"/>
        </a>
        <a href="https://prjctfirestorm.tumblr.com/" class="icon-list">
          <img src="../../assets/Images/Icons/tumblr.png"/>
        </a>
        <a href="https://github.com/SilverSapo/SilverSapo.github.io/projects/1" class="icon-list">
          <img src="../../assets/Images/Icons/github.png"/>
        </a>
      </ul>
    </div>
    <!---Game credits--->
    <div class="content-panel">
      <h3>Game credits</h3>
      <hr>
      <p><b>Character design and game development:</b> Elizabeth Cho</p>
      <p><b>Background art:</b> Michelle Li</p>
    </div>
  </div>
</body>
</html>
