<!DOCTYPE html>
<html>
<head>
  <link href="../assets/css/gb.css" rel="stylesheet">
  <script type="text/javascript" src="../assets/js/basicgame.js"></script>
  <?php include '../assets/php/projectfirestorm.php';?>
</head>
<body>
  <div class="game-container">
    <!---Background image--->
    <img id="background" src="../assets/Images/Backgrounds/glitch.gif"
      style="width:2340px height:auto" alt="test"/>

    <!---Dialogue container--->
    <div class="text-container" id="dialogue">
      <!---Text box image--->
      <img id="tb-dialogue" src="../assets/Images/text box/dialogue box.png" alt="text box"/>
      <!---Name--->
      <div class="name-container">
        <p id="name">Chelsea</p>
      </div>
      <!---Content wrapper--->
      <div class="content-container">
        <!---Character image--->
        <div class="character-container">
          <img id="character" src="../assets/Images/Characters/Chelsea Shasta.png"
            alt="character">
        </div>
        <!---Dialogue--->
        <div class="dialogue-container">
          <p id="text">0</p>
        </div>
        <!---Next button--->
        <div class="next-button">
          <button id="next" onclick="switchBox()">Next</button>
        </div>
      </div>
    </div>

    <!---2 choice container--->
    <div class="text-container" id="two-choice" style="display:none">
      <!---Text box image--->
      <img id="tb-two" src="../assets/Images/text box/two choice box.png"/>
      <!---Name--->
      <div class="name-container">
        <p id="name">Chelsea</p>
      </div>
      <!---Content wrapper--->
      <div class="content-container">
        <!---Character image--->
        <div class="character-container">
          <img id="character" src="../assets/Images/Characters/Chelsea Shasta.png" alt="character">
        </div>
        <!---Choice buttons--->
        <div class="button-container">
            <button class="game-choice-button-2" id="choice-a-2" onclick="switchBox()">Dialogue</button>
            <button class="game-choice-button-2" id="choice-b-2" onclick="switchBox()">Three choice</button>
        </div>
      </div>
    </div>

    <!---3 choice container--->
    <div class="text-container" id="three-choice" style="display:none">
      <!---Text box image--->
      <img id="tb-three" src="../assets/Images/text box/three choice box.png" alt="three-choice box"/>
      <!---Name--->
      <div class="name-container">
        <p id="name">Chelsea</p>
      </div>
      <!---Content wrapper--->
      <div class="content-container">
        <!---Character image--->
        <div class="character-container">
          <img id="character" src="../assets/Images/Characters/Chelsea Shasta.png" alt="character">
        </div>
        <!---Choice buttons--->
        <div class="button-container">
          <button class="game-choice-button-2" id="choice-a-3" onclick="switchBox()">Two choice</button>
          <button class="game-choice-button-2" id="choice-b-3" onclick="switchBox()">Dialogue</button>
          <button class="game-choice-button-2" id="choice-c-3" onclick="switchBox()">C</button>
        </div>
      </div>
    </div>

    <!---Story container--->
    <div class="text-container" id="story" style="display:none">
    <!---Text box image--->
    <img id="tb-story" src="../assets/Images/text box/story box.png" alt="story box"/>
    <!---Content wrapper--->
    <div class="content-container">
      <!---Storyline--->
      <div class="story">
      </div>
      <!---Next button--->
      <div class="next-button">
        <button id="next" onclick="changeImage()">Next</button>
      </div>
    </div>
    </div>

    <!---Home screen--->
    <div class="home-container" id="home">
      <div class="info-button">
      </div>
      <div class="start-button">
      </div>
    </div>
  </div>
</body>
</html>
