<!DOCTYPE html>
<link href="../assets/css/fonts.css" rel="stylesheet"/>
<link href="../assets/css/homepage.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<html>
    <div class="top-text">
        <!---icon i guess--->
        <h1>Elizabeth Cho</h1>
        <!---stylized horizontal line yay--->
        <h2>I like to write code and draw things.</h2>
        <div class="social-links">
            <!---github--->
            <a href="https://www.github.com/Elizabeth-Cho">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
            </a>
            <!---linkedin--->
            <a href="https://www.linkedin.com/in/elizabeth-cho-48b5b614b/">
                <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
            </a>
            <!---medium--->
            <a href="https://medium.com/@18ChoEl">
                <i class="fa fa-medium fa-lg" aria-hidden="true"></i>
            </a>
        </div>
        <div class="contact">
            <p>echo30@jhu.edu</p>
        </div>
    </div>
</html>
