<!DOCTYPE html>
<html>
<div class="nav">
  <div class="link">
  <link href="../../assets/css/navigation.css" rel="stylesheet"/>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <nav>
    <ul="nav">
          <a href="/capstone">Capstone Home</a>
          <a href="/capstone/about">About Me</a>
          <a href="/capstone/presentation">Mid-Year Presentation</a>
          <a href="/capstone/email">Email Exchanges</a>
          <a href="/capstone/design">Design Plan</a>
          <a href="/capstone/research">Research</a>
          <a href="/capstone/reflection">Reflections</a>
          <a href="/capstone/pacing">Pacing Guide</a>
    </ul>
  </nav>
  </div>
</div>
</html>
