<!DOCTYPE html>
<html>
<div class="nav">
  <div class="link">
  <link href="../../assets/css/navigation.css" rel="stylesheet"/>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <nav>
      <ul="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <!---<a href="/page1">Firestorm</a>
        <a href="/contact">Contact Me</a>--->
        <div class="dropdown">
          <button class="dropbtn">Capstone Information</button>
          <div class="dropdown-content">
            <a href="/capstone">Capstone Home</a>
            <a href="/capstone/about">About Me</a>
            <a href="/capstone/presentation">Mid-Year Presentation</a>
            <a href="/capstone/email">Email Exchanges</a>
            <a href="/capstone/design">Design Plan</a>
            <a href="/capstone/research">Research</a>
            <a href="/capstone/resume">Resume</a>
            <a href="/capstone/reflection">Reflections</a>
            <a href="/capstone/pacing">Pacing Guide</a>
          </div>
        </div>
      </ul>
  </nav>
    </div>
  </div>
</html>
