<!DOCTYPE html>
<html>
<div class="nav" id="topnav">
  <div class="link">
  <link href="../../assets/css/navigation.css" rel="stylesheet"/>
  <link href="../../assets/css/text.css" rel="stylesheet"/>
  <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"/>
  <nav>
      <ul="nav">
        <a href="/"><i class="fa fa-home"></i></a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
        <a href="/capstone">Capstone</a>
        <a href="/gallery">Gallery</a>
        <!---<a href="/page1">Firestorm</a>
        <a href="/contact">Contact Me</a>--->
        <!---<div class="dropdown">
          <button class="dropbtn">Capstone Information</button>
          <div class="dropdown-content">
            <a href="/capstone">Capstone Home</a>
            <a href="/capstone/about">About Me</a>
            <a href="/capstone/presentation">Mid-Year Presentation</a>
            <a href="/capstone/email">Email Exchanges</a>
            <a href="/capstone/design">Design Plan</a>
            <a href="/capstone/research">Research</a>
            <a href="/capstone/resume">Resume</a>
            <a href="/capstone/reflection">Reflections</a>
            <a href="/capstone/pacing">Pacing Guide</a>
          </div>
        </div>--->
        <!---<a href="javascript:void(0);" class="icon" onclick="expand()">&#9776;</a>--->
      </ul>
    </nav>
    </div>
  </div>
  <!---<script>
    function expand(){
      var x = document.getElementById("topnav");
      if(x.className === "nav"){
        x.className += " responsive";
      }
      else{
        x.className = "nav";
      }
    }
  </script>--->
</html>
