<!DOCTYPE html>
<link href="../assets/css/cover.css" rel="stylesheet"/>
<link href="../assets/css/text.css" rel="stylesheet"/>
<link href="../assets/css/social.css" rel="stylesheet"/>
<link href="../assets/css/splitlayout.css" rel="stylesheet"/>
<html>
  <div class="sidebar" id="home-side">
    <div class="not-social" id="home-ns">
      <div class="name">
        <h3>Elizabeth Cho</h3>
      </div>
      <div class="social-icon">
        <a href="/">
          <img id="sm-icon" src="../assets/Images/Icons/icon.png">
        </a>
      </div>
      <div class="basic-info" id="home-bi">
        <p>Johns Hopkins University - 2022</p>
        <p>Farmington High School - 2018</p>
        <p>FRC Team 178</p>
      </div>
      <hr>
    </div>
    <div class="social-links" id="home-sl">
      <ul>
        <div class="extImg">
          <!---Icon credits: https://www.iconfinder.com/iconsets/black-white-social-media--->
          <a href="https://medium.com/@18ChoEl"/>
            <img style="vertical-align:middle" src="../../assets/Images/Icons/medium.png">
            <span>Medium</span>
          </a>
        </div>
        <div class="extImg">
          <a href="https://www.github.com/SilverSapo">
            <img style="vertical-align:middle" src="../../assets/Images/Icons/github.png">
            <span>GitHub</span>
          </a>
        </div>
        <div class="extImg">
          <a href="https://www.linkedin.com/in/elizabeth-cho-48b5b614b/">
            <img style="vertical-align:middle" src="../../assets/Images/Icons/linkedin.png">
            <span>LinkedIn</span>
          </a>
        </div>
        <div class="extImg">
          <a href="https://www.facebook.com/SilverSapo">
            <img style="vertical-align:middle" src="../../assets/Images/Icons/facebook.png">
            <span>Facebook</span>
          </a>
        </div>
        <div class="extImg">
          <a href="https://www.twitter.com/xSilverSapo">
            <img style="vertical-align:middle" src="../../assets/Images/Icons/twitter.png">
            <span>Twitter</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
  <div class="content-pane" id="home-cp">
    <div class="left-pane">
      <!---About--->
      <div class="quicklink">
        <a href="/about">
          <img src="../assets/Images/Icons/about.png">
        </a>
        <p>About Me</p>
      </div>
      <!---Projects--->
      <div class="quicklink">
        <a href="/projects">
          <img src="../assets/Images/Icons/projects.png">
        </a>
        <p>Projects</p>
      </div>
      <!---Resume--->
      <div class="quicklink">
        <a href="/resume">
          <img src="../assets/Images/Icons/resume.png">
        </a>
        <p>Resume</p>
      </div>
    </div>
    <div class="right-pane">
      <!---Contact--->
      <div class="quicklink">
        <a href="/contact">
          <img src="../assets/Images/Icons/contact.png">
        </a>
        <p>Contact Me</p>
      </div>
      <!---Capstone--->
      <div class="quicklink">
        <a href="/capstone">
          <img src="../assets/Images/Icons/capstone.png">
        </a>
        <p>Senior Capstone</p>
      </div>
      <!---Gallery--->
      <div class="quicklink">
        <a href="/gallery">
          <img src="../assets/Images/Icons/gallery.png">
        </a>
        <p>Gallery</p>
      </div>
    </div>
  </div>
</html>
