<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../assets/css/test.css"/>

<div id="particles-js">
</div>
<div class="page" id="home">
    <div class="text">
        <h1>Elizabeth Cho</h1>
        <hr class="home-hr"></hr>
        <h2>Software Engineer // Graphic Designer // Digital Artist</h2>
    </div>
</div>
<div id="skills" class="page">
    <h4>Technical Skills</h4>
    <h5>I am currently an undergraduate at Johns Hopkins University majoring in biomedical engineering, computer science, and applied mathematics and statistics.</h5>
    <div class="section">
        <h3>Software Development/Languages</h3>
        <hr class="section-hr"></hr>
        <p>Java // C++ // C // HTML // CSS // JavaScript //
        Python // Git // MySQL // AWS // MATLAB // R // Assembly // Wordpress</p>
    </div>
    <div class="section">
        <h3>Art/Graphic Design/Media</h3>
        <hr class="section-hr"></hr>
        <p>FireAlpaca // Krita // Canva // Adobe Illustrator //
        Adobe Photoshop // Adobe Premiere Pro // Adobe After Effects //
        Adobe InDesign // Audacity // Mixcraft 8</p>
    </div>
    <div class="section">
        <h3>Relevant Coursework (Chronological Order) - Completed through Fall 2020</h3>
        <hr class="section-hr"></hr>
        <p><b>Biomedical Engineering</b></p>
            <p>Modeling and Design // Molecules and Cells // Statistical
                Physics // Linear Signals and Systems // Biological Models and
                Simulations // Systems and Controls // Systems Biology //
                Nonlinear Dynamics // Biomedical Data Science //
                Computational Medicine: Cardiology</p>
        <p><b>Computer Science</b></p>
            <p>Intermediate Programming // Data Structures // Computer System Fundamentals //
            Automata and Computation Theory // Intro Algorithms // Artificial Intelligence //
            Computer Ethics</p>
        <p><b>Applied Math</b></p>
            <p>Calculus III // Discrete Math // Linear Algebra //
            Differential Equations // Combinatorial Analysis // Intro to Probability //
            Intro to Statistics // Intro to Optimization</p>
        <p><b>Miscellaneous</b></p>
            <p>Killer Design: Maximizing Safety in the Design Process // Professional Communications</p>
    </div>
</div>
<div id="projects" class="page">
    <h4>Projects</h4>
    <h5>I have worked on several software engineering and web development projects since I learned how to code in high school.</h5>
    <div class="section">
        <h3>Southwest Flight Check-in Bot</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>Python</p>
        <p>This was a bot I created to help me check into my flights. It clicks.</p>
    </div>
    <div class="section">
        <h3>Parsy.io Landing Page</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>HTML, CSS, JavaScript</p>
        <p>Parsy.io is a startup that helps students during the semester by
        automatically plugging assignment due dates, exams, and office hours by
        parsing through course syllabi. I designed and implemented the landing
        page, which included smooth scrolling and a signup for email subscriptions.</p>
    </div>
    <div class="section">
        <h3>Get in the Frame</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>HTML, CSS</p>
        <p>This project was my team's submission for the Spring 2019 HopHacks
        event. The purpose of web application is to provide real time feedback
        on taekwondo punches. I worked on the front end of the app, which also
        included the icon and banner. </p>
    </div>
    <div class="section">
        <h3>Personal Website</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>HTML, CSS, JavaScript</p>
        <p>This site is designed to be a digital portfolio of both my technical
        projects and my graphic design/artwork. The first versions of the site
        were made using HTML, CSS and JavaScript, but the current version uses
        just HTML and CSS.</p>
    </div>
    <div class="section">
        <h3>Choose Your Own Adventure Game Demo</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>Java</p>
        <p>This game demo was a part of my senior capstone project in high
        school. While the demo did not show off the complete storyline, it did
        demonstrate some of the key features, including dialogue, background
        switching, and story/dialogue branching. I also designed most of the
        visual assets of the game.</p>
    </div>
    <div class="section" id="bottom">
        <h3>Information Medical Database Collection</h3>
        <hr class="section-hr"></hr>
        <p><b>Languages: </b>Java</p>
        <p>This was a proof of concept of a solution that automates triage to
        address emergency room overcrowding made for an AP Biology final project.</p>
    </div>
</div>
<div id="portfolio" class="page">
    <h4>Art/Design Portfolio</h4>
    <h5>On campus, I do graphic design for HopHacks and MedHacks, but I also do art in my free time.</h5>
    <div class="section">
        <h3>HopHacks (May 2019 - Present)</h3>
        <hr class="section-hr"></hr>
        <a class="portfolio-category" href="https://drive.google.com/drive/folders/1vVldyule-vyKZIKCM9rOX10PzwG9xgTx?usp=sharing">
            <i class="fa fa-link" aria-hidden="true"></i> Google Drive Link
        </a>
        <p><b>Projects: </b>Event flyers, banners, and Facebook frames, front end assets</p>
    </div>
    <div class="section">
        <h3>MedHacks (Feb 2020 - Present)</h3>
        <hr class="section-hr"></hr>
        <a class="portfolio-category" href="https://drive.google.com/drive/folders/1uzJUsBlYKAnTvQlbrnq5qOtfmcHmslsB?usp=sharing">
            <i class="fa fa-link" aria-hidden="true"></i> Google Drive Link
        </a>
        <p><b>Projects: </b>Designing and animated event mascots, animated site splash page, social media assets/posts</p>
    </div>
    <div class="section">
        <h3>Hopkins Sport Taekwondo</h3>
        <hr class="section-hr"></hr>
        <a class="portfolio-category" href="https://drive.google.com/drive/folders/1PYCOACVteTVXGSqhYioaixRyUxKzRDLZ?usp=sharing">
            <i class="fa fa-link" aria-hidden="true"></i> Google Drive Link
        </a>
        <p><b>Projects: </b>Club mascot design (Tae the Tiger)</p>
    </div>
    <div class="section" id="bottom">
        <h3>Miscellaneous Art</h3>
        <hr class="section-hr"></hr>
        <a class="portfolio-category" href="https://drive.google.com/drive/folders/1xJqnU44CbOqinn84kxc-8RRo7na7FibA?usp=sharing">
            <i class="fa fa-link" aria-hidden="true"></i> Google Drive Link
        </a>
        <p><b>Projects: </b>Character designs, phone and desktop wallpapers, design contest submissions</p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="../assets/js/config.js"></script>
</html>
