<!DOCTYPE html>
<html>
<link href="../assets/css/text.css" rel="stylesheet"/>
<link href="../assets/css/accordion.css" rel="stylesheet"/>
<body>
  <div class="page-title">
    <h1>Resume</h1>
    <hr>
  </div>
  <div class="container">
    <!---Academics--->
    <button class="accordion">Academics</button>
    <div class="panel">
      <h1>Academics</h1>
      <hr>
      <ul>
        <h3>Johns Hopkins University - Class of 2022</h3>
        <h3>Farmington High School - Class of 2018</h3>
      </ul>
    </div>
    <!---Clubs/Internships--->
    <button class="accordion">Clubs/Internships</button>
      <div class="panel">
        <h1>Internships</h1>
        <hr>
        <ul>
          <div class="item">
            <div class="title-general">
              <h3>UConn Cutting Edge Internship</h3>
            </div>
            <div class="desc-single">
              <p>I worked with a graduate school student to conduct research and
                 experiments related to biology, specifically on an experiment
                 designed to characterize the frameshift mutations in ARGLU1
                 knockout cells, which were created by CRISPRs.</p>
            </div>
          </div>
        </ul>
        <h1>Extracurriculars</h1>
        <hr>
        <ul>
          <!---Robotics--->
          <div class="item">
            <div class="title-general">
              <h3><i>FIRST</i> Robotics</h3>
            </div>
            <div class="desc">
              <div class="title-general">
                <p>Team Captain</p>
                <p>Programming Committee Head</p>
              </div>
            </div>
          </div>
          <!---TEAM+S--->
          <div class="item">
            <div class="title-general">
              <h3>TEAM+S</h3>
            </div>
            <div class="desc-single">
              <div class="title-general">
                <p>Chairperson</p>
              </div>
            </div>
          </div>
          <!---CTF--->
          <div class="item">
            <div class="title-general">
              <h3>PicoCTF/CAMSCTF</h3>
            </div>
            <div class="desc-single">
              <div class="title-general">
                <p>Team Captain</p>
              </div>
            </div>
          </div>
          <!---Science Olympiad--->
          <div class="item">
            <div class="title-general">
              <h3>Science Olympiad</h3>
            </div>
          </div>
          <!---Model UN--->
          <div class="item">
            <div class="title-general">
              <h3>Model UN</h3>
            </div>
          </div>
          <!---Honor Societies--->
          <div class="item">
            <div class="title-general">
              <h3>Honor Societies</h3>
            </div>
            <div class="desc-single">
              <div class="title-general">
                <p>National Honor Society</p>
                <p>Mu Alpha Theta</p>
                <p>Spanish National Honor Society</p>
                <p>Tri-M</p>
              </div>
            </div>
          </div>
        </ul>
      </div>
    <!---Awards--->
    <button class="accordion">Awards</button>
    <div class="panel">
      <h1>Awards</h1>
      <hr>
      <ul>
        <div class="item">
          <div class="title-general">
            <h3>NMSQT Commended Student</h3>
            <h3>AP Scholar with Distinction</h3>
            <h3>National AP Scholar</h3>
            <h3>Outstanding Student in Chemistry</h3>
            <h3>Model UN Honorable Mention</h3>
          </div>
        </div>
        <!---TEAM+S awards--->
        <div class="item">
          <div class="title-general">
            <h3>TEAM+S</h3>
          </div>
          <div class="desc-single">
            <div class="title-general">
              <p>Third place, multiple choice</p>
              <p>Second place, essay</p>
              <p>Qualified for Nationals</p>
            </div>
          </div>
        </div>
        <!---NCWIT--->
        <div class="item">
          <div class="title-general">
            <h3>NCWIT Aspirations in Computing</h3>
          </div>
          <div class="desc-single">
            <div class="title-general">
              <p>National Honorable Mention</p>
              <p>Connecticut Affiliate</p>
            </div>
          </div>
        </div>
        <!---Robotics awards--->
        <div class="item">
          <div class="title-general">
            <h3><i>FIRST</i> Robotics</h3>
          </div>
          <div class="desc-single">
            <div class="title-general">
              <p>Dean's List Semifinalist Nominee</p>
              <p>2017 Waterbury District Finalist</p>
              <p>Chairman's Award</p>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <!---Skills--->
    <button class="accordion">Skills</button>
    <div class="panel">
      <h1>Skills</h1>
      <hr>
      <ul>
        <div class="item">
          <div class="title-general">
            <h3>Languages</h3>
          </div>
          <div class="desc-single">
            <p>English, Spanish</p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>Programming Languages</h3>
          </div>
          <div class="desc-single">
            <p>Java, HTML, CSS, JavaScript, PHP, Markdown</p>
          </div>
        </div>
        <div class="item">
          <div class="title-general">
            <h3>Miscellaneous</h3>
          </div>
          <div class="desc-single">
            <p>Digital art, music composition</p>
          </div>
        </div>
      </ul>
    </div>
    <!---Volunteer--->
    <button class="accordion">Volunteer Work</button>
    <div class="panel">
      <h1>Volunteer Work</h1>
      <hr>
      <ul>
        <div class="item">
          <div class="title-general">
            <h3>TA/Tutor for Spanish classes</h3>
            <h3>Mentor/Tour guide for incoming freshmen</h3>
            <h3>Unionville Festival</h3>
            <h3>Unionville Memorial Day Parade</h3>
            <h3>Hour of Code</h3>
          </div>
        </div>
        <!---FIRST Robotics--->
        <div class="item">
          <div class="title-general">
            <h3><i>FIRST</i> Robotics</h3>
          </div>
          <div class="desc-single">
            <div class="title-general">
              <p>Junior FLL Expo</p>
              <p>Mentoring FLL Team 3D Xtreme</p>
              <p>FLL at New England District Championships</p>
              <p>Crowd Control at Hartford Regional Competition</p>
            </div>
          </div>
        </div>
        <!---Dream FIRST--->
        <div class="item">
          <div class="title-general">
            <h3>Dream <i>FIRST</i></h3>
          </div>
          <div class="desc-single">
            <div class="title-general">
              <p>Suffield Shakedown</p>
              <p>Lake Garda</p>
              <p>Greater Hartford Maker Faire</p>
              <p>Barnes and Noble Maker Faire</p>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</body>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for(i = 0; i < acc.length; i++){
    acc[i].onclick = function(){
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if(panel.style.maxHeight){
        panel.style.maxHeight = null;
      }
      else{
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  }
</script>
</html>
