button.accordion{
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: block;
  width: 100%;
  font-size: 24px;
}
button.accordion.active, button.accordion:hover{
  background-color: rgb(20, 20, 20);
}
.panel{
  padding: 0 18px;
  background-color: rgb(68, 68, 68);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 4px solid rgb(0, 255, 130);
}

.container{
  margin-top: 5%;
}

#drop{
  text-align: center;
}

#drop-content{
  border-left: none;
  background-color: rgb(30, 30, 30);
}
