body, html {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/temp banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#content {
    height: 100%;
}

.sidebar {
    float: left;
    width: 33%;
    /*background-color: rgba(161, 195, 209, 0.5);*/
    top: 50px;
    bottom: 0;
    position: absolute;
}

.sidecont {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 69, 0.25);
    border-style: dashed;
    border-color: white;
    min-height: 60vh;
}

#label h2{
    padding-top: 1%;
    padding-bottom: 3%;
}

#icon img {
    width: 50%;
    height: auto;
    margin: auto;
    display: block;
    padding-bottom: 3%;
}

#icon {
    padding-top: 15%;
}

.content {
    float: right;
    width: 67%;
    /*background-color: rgba(252, 249, 222, 0.5);*/
    top: 50px;
    bottom: 0;
    right: 0;
    position: absolute;
}

.contcont {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: dashed;
    border-color: white;
    min-height: 60vh;
    background-color: rgba(0, 0, 69, 0.25);
    display: flex;
    align-items: center;
}

#slideshow {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: dashed;
    border-color: white;
    min-height: 60vh;
    background-color: rgba(0, 0, 69, 0.25);
    display: block;
    margin: auto;
}

hr {
    width: 50%;
    display: block;
    margin: auto;
    border-color: white;
}

.contcont p {
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    line-height: 1.5;
}
