h1, h2, p {
    font-family: Helvetica, sans-serif;
    color: rgb(212, 208, 225);
}

h1 {
    font-size: 2.0em;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
}

p {
    font-size: 1.0em;
}

.contact p {
    text-align: center;
}
