.main{
  width: 75%;
  float: center;
  display: inline-block;
}

.external{
  width: 25%;
  float: center;
  display: inline-block;
}

#content{
  width: 100%;
  margin: auto;
}
@media (max-width: 800px){
  /*Mobile*/
  .main{
    width: 80%;
    float: center;
    display: inline-block;
    margin: auto;
  }

  .external{
    display: none;
  }
}
