.main{
  width: 75%;
  float: left;
  display: inline-block;
}

.external{
  width: 25%;
  float: right;
  display: inline-block;
}

#content{
  width: 100%;
  margin: auto;
}
@media (max-width: 800px){
  /*Mobile*/
  .main{
    width: 80%;
    float: center;
    display: inline-block;
  }
}
