head{
  height: 50px;
  width: 100%;
}

#content{
  width: 100%;
  margin: auto;
}

.mobile, .mNav{
  display: none;
}

.desktop, .dNav{
  display: block;
}

@media (max-width: 768px){
  .desktop, .dNav{
    display: none;
  }

  .mobile, .mNav{
    display: block;
  }
}
