#side {
    text-decoration: none;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

#nav {
    top: 0;
    left: 0;
    font-size: 36px;
}

#footer {
    bottom: 0;
    left: 0;
    /* font-size: 36px; */
}

#nav, #footer {
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    position: fixed;
}

i {
    color: white;
}

@media (max-width: 767px) {
    #nav, #footer {
        background-image: linear-gradient(rgba(13, 13, 26, .75), rgba(13, 13, 26, .75));
    }

    #footer {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    #footer i {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 18px;
    }

    #nav {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #nav i {
        padding-left: 12px;
        padding-right: 12px;
    }

    #footer a {
        font-size: 18px;
        padding-top: 0;
    }

}

@media (min-width: 768px) {
    i:hover {
        color: rgb(130, 215, 217);
    }

    #side {
        height: 100%;
        width: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

    }

    i {
        color: white;
        padding-left: 0.32em;
        padding-right: 0.32em;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        transition-duration: 0.25s;
    }

    li {
        list-style-type: none;
        padding: 0;
        text-align: center;
        display: block;
    }

    #nav, #footer {
        text-align: center;
        padding: 0;
        left: 0;
        position: absolute;
    }

    #nav {
        top: 0;
    }

    #nav i, #footer i {
        font-size: 26px;
    }

    #footer {
        bottom: 0;
    }
}
