*{
  z-index: 3;
}
.nav{
  background-color: rgb(0, 74, 84);
  overflow: hidden;
  font-family: Century Gothic;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.nav a{
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.25s;
}
.nav a:hover{
  background-color: rgb(0, 44, 50);
  color: rgb(255, 255, 255);
}
.dropdown{
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-family: Century Gothic;
  font-size: 17px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
}
.dropdown-content{
  display: none;
  position: fixed;
  background-color: rgb(0, 96, 108);
  max-width: 400px;
  box-shdow: 0px 8px 16px 0px
}

.dropdown:hover{
  background-color: rgb(0, 44, 50);
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a{
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.social a{
  float: right;
  display: inline-block;
  margin: 0px 4px;
  background-size: 20px 20px;
}

.social{
  background-color: rgb(73, 78, 224);
  overflow: hidden;
  height: 100px;
  width: auto;
  bottom: 0;
}
