body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  bottom: 0;
  background-color: rgb(68, 68, 68);
}

.nav-included{
  margin-top: %;
}

.sidebar, .tab-panel{
  height: 100%;
  width: 25%;
  top: 0;
  left: 0;
  background-color: black;
  float: left;
  position: fixed;
  z-index: 0;
}

.tab-panel{
  padding-top: 8%;
}

.tabbed-content{
  margin: auto;
  width: 75%;
  height: 100%;
  float: right;
  display: block;
  padding-top: 6%;
  margin-bottom: 3%;
}

.not-social{
  height: 45%;
  width: 100%;
  top: 9%;
  position: relative;
}

.name{
  width: 100%;
  height: 10%;
}

.name h3{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  transform: translateY(-50%);
}

.basic-info{
  width: 100%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.basic-info p{
  text-align: center;
  margin: auto;
  line-height: 145%;
  font-size: 1.35vw;
}

hr{
  color: rgb(0, 255, 130);
  border-color: rgb(0, 255, 130);
  background-color; rgb(0, 255, 130);
}

.content-pane{
  width: 75%;
  background-color: rgb(68, 68, 68);
  float: right;
  margin-top: 5.25%;
}

.social-icon{
  width: 100%;
  height: 50%;
}

#sm-icon{
  width: 45%;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(0, 255, 130);
  margin: auto;
  display: block;
}

button.side-tab{
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  outline; none;
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 4px;
  height: auto;
  bottom: 0;
  margin-bottom: 0;
  transition: 0.25s;
}

button.side-tab.active, button.side-tab:hover{
  background-color: rgb(34, 34, 34);
  bottom: 0;
  margin-bottom: 0;
}

.sidebar .button-tabs{
  top: 9%;
}

.presentation{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.presentation iframe{
  width: 480px;
  height: 299px;
}

@media (max-width: 768px){
  .sidebar{
    display: none;
  }

  .content-pane{
    width: 100%;
    margin-top: 0;
  }

  .content-pane h1{
    text-align: center;
  }

  .presentation iframe{
    width: 100%;
    height: auto;
  }
}
