h1{
  font-family: Century Gothic, sans-serif;
}
p{
  font-family: Trebuchet, sans-serif;
  color: rgb(25, 25, 25);
  font-size: 16px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: justify;
  margin-right: 50px;
  /*margin: 20px 30px;
  width: 80px;
  height: 90px;
  background-color: rgb(165, 168, 255);*/
}
h1, h2, h3, h4, h5{
  margin-top: 25px;
  font-family: Century Gothic, sans-serif;
}

h3{
  font-size: 18px;
  margin-left: 10px;
}

h4{
  text-align: center;
}

button, span{
  font-family: Century Gothic, sans-serif;
}

span{
  font-size: 16px;
  margin-left: 15px;
}

hr{
  max-width: 90%;
  margin: auto;
}

#plan-item a{
  font-family: Trebuchet, sans-serif;
}

li {
  margin-left: 20px;
  font-family: Trebuchet, sans-serif;
  margin-right: 50px;
  text-align: justify;
}

#links a{
  font-family: Trebuchet, sans-serif;
}
