* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    color: white;
    height: 100vh;
    line-height: 1.6;
}

h2 {
    font-weight: normal;
    font-size: 22px;
}

p {
    width: 80%;
}

button {
    /*background-color: rgb(106, 171, 221);*/
    background: linear-gradient(to right,
        rgb(33, 113, 185) 50%, rgb(106, 171, 221) 50%);
    background-size: 200%;
    background-position: right bottom;
    box-shadow: none;
    border: 0;
    width: 15%;
    line-height: 2.25;
    font-size: 18px;
    margin-top: 2%;
    transition: all 0.35s ease-out;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-position: left bottom;
}

.container {
    width: 100%;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    line-height: 1;
    width: 100%;
    height: auto;
    transition: 0.25s;
    display: grid;
}

#nav-logo {
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
}

#nav-logo a {
    text-align: center;
    padding: 0;
}

#tiny {
    height: 32px;
    padding: 8.5px 22px;
    width: auto;
}

.navbar ul {
    list-style: none;
    display: inline;
    width: 100%;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 4;
}

.navbar li {
    text-decoration: none;
    display: inline;
    float: right;
}

.navbar a {
    text-align: right;
    font-size: 18px;
    padding: 16px 22px;
    transition: 0.25s;
    text-decoration: none;
    color:  rgb(255, 255, 255);
    display: block;
}

.navbar a:hover {
    background-color: rgba(33, 113, 185, 0.7);
}

.navbar-add {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

 #home {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Images/mockup 1.png");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
 }

.content {
    position: inherit;
    top: 50%;
    left: 50%;
 }

.content img {
    width: 40%;
}

#video {
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("a.png");
}

#signup {
    width: 25%;
}

#form-button {
    width: 100%;
}

input {
    line-height: 2.75;
    width: 100%;
    margin-bottom: 4%;
    border-radius: 5px;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("b.png");
}

#about, #contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: fixed;
    font-size: 12px;
    display: grid;
}

.footer p {
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

#copyright {
    grid-column-start: 2;
    grid-column-end: 3;
}

#icon-links {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    width: 95%;
}

#icon-links i {
    margin-left: 2%;
}

#icon-links a:hover {
    color: rgba(33, 113, 185);
}

.footer-add {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .navbar a {
        font-size: 14px;
        padding: 15px 10px;
    }

    #nav-logo {
        width: 100%;
    }

    #nav-logo a {
        padding: 0;
        text-align: center;
    }

    .content img {
        width: 80%;
    }

    h2 {
        font-size: 18px;
    }

    button {
        font-size: 16px;
        width: 20%;
    }

    #about p {
        font-size: 14px;
    }

    #tiny {
        height: 24px;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    #signup {
        width: 80%;
    }

    .footer {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    #icon-links {
        width: 90%;
    }

    #icon-links i {
        margin-left: 10%;
    }
}
