* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    color: white;
    height: 100vh;
    line-height: 1.6;
}

h2 {
    font-weight: normal;
    font-size: 22px;
}

p {
    width: 80%;
}

button {
    /*background-color: rgb(106, 171, 221);*/
    background: linear-gradient(to right,
        rgb(33, 113, 185) 50%, rgb(106, 171, 221) 50%);
    background-size: 200%;
    background-position: right bottom;
    box-shadow: none;
    border: 0;
    width: 15%;
    line-height: 2.25;
    font-size: 18px;
    margin-top: 2%;
    transition: all 0.35s ease-out;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-position: left bottom;
}

.container {
    width: 100%;
    /*height: 100%;*/
    /*alt 1
    overflow-y: scroll;
    scroll-behavior: smooth;*/
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    transition: 0.25s;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar li {
    text-decoration: none;
}

.navbar a {
    text-align: center;
    font-size: 18px;
    padding: 16px 22px;
    transition: 0.25s;
    text-decoration: none;
    color:  rgb(255, 255, 255);
    display: block;
}

.navbar a:hover {
    background-color: rgba(33, 113, 185, 0.7);
}

.navbar-add {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.navbar-add a {
    text-align: right !important;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

 #home {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Images/mockup 1.png");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
 }

.content {
    position: inherit;
    top: 50%;
    left: 50%;
 }

.content img {
    width: 40%;
}

#video {
    width: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

#about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Images/crosshatch 3.png");
}

#signup {
    width: 25%;
}

#form-button {
    width: 100%;
}

input {
    line-height: 2.75;
    width: 100%;
    margin-top: 2%;
    border-radius: 5px;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/Images/temp banner.png");
}

#about, #contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*
    wrong info, report error
    want to have it send an email, someone can verify
    server endpoint in flask server
    email client - substitution for that, research that
    see how it works, endpoint, http
    obvi more effort but not too bad tbh
    use postman for flask server (do sometime lateish July)
    ~July 29 deadline for landing
    ~end of August for email
*/
