<!DOCTYPE html>
<link href="../assets/css/content.css" rel="stylesheet"/>
<link href="../assets/css/fonts.css" rel="stylesheet"/>
<html>
    <title>Elizabeth Cho - About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/Images/Icons/icon.png"/>
    <body>
        <div id="content" style="overflow:hidden;">
            <article>
                {% include navbar.html %}
                <div class="sidebar">
                    <div class="sidecont">
                        <div id="icon">
                            <img src="../assets/Images/Icons/about.png"/>
                            <hr>
                        </div>
                        <div id="label">
                            <h2>About</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <!---lol--->
                    <div class="contcont">
                        <p>Hi, I'm Elizabeth Cho and I'm currently a sophomore
                            studying biomedical engineering and computer
                            science at Johns Hopkins. I enjoy working on
                            front-end web development and back end on other
                            software projects. I also like to make digital art
                            in my free time.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </body>
</html>
