<!DOCTYPE html>
<link href="../assets/css/content.css" rel="stylesheet"/>
<link href="../assets/css/fonts.css" rel="stylesheet"/>
<html>
    <title>Elizabeth Cho - Art</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../assets/Images/Icons/icon.png"/>
    <body>
        <div id="content" style="overflow:hidden;">
            <article>
                {% include navbar.html %}
                <div class="sidebar">
                    <div class="sidecont">
                        <div id="icon">
                            <img src="../assets/Images/Icons/gallery.png"/>
                            <hr>
                        </div>
                        <div id="label">
                            <h2>Art</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div id="slideshow">
                        {% include slideshow.html %}
                    </div>
                </div>
            </article>
        </div>
    </body>
</html>
