<!DOCTYPE html>
<html>
<head>
  <title>About Me - Custom Capstone 2018</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="../../assets/Images/Icons/icon.png"/>
  <link href="../../assets/css/format.css"/>
  {% include navigation.html %}
</head>
<body>
  <div id="content">
    <article>
      <div class="main">
        {% include capAbout.html %}
      </div>
      <div class="external">
        {% include external.html %}
      </div>
    </article>
  </div>
</body>
</html>
