<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Me</title>
  <link rel="shortcut icon" type="image/png" href="../assets/Images/Icons/icon.png"/>
  <link href="../assets/css/format.css" rel="stylesheet"/>
  <div class="dNav">
    {% include navigation.html %}
  </div>
  <div class="mNav">
    {% include mobileNav.html %}
  </div>
</head>
<body>
  <div id="content">
    <article>
        {% include contactme.html %}
    </article>
  </div>
</body>
</html>
