<!DOCTYPE html>
<link href="../assets/redirect.css" rel="stylesheet"/>
<html>
    <title>Elizabeth Cho - Redirect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="../src/public/icon.png"/>
    <!-- <meta http-equiv="Refresh" content="0; url=https://Elizabeth-Cho.github.io/portfolio"/> -->
    <div class="redirect-pane">
        <h3>If the page does not redirect, click <a href="https://Elizabeth-Cho.github.io/portfolio">here</a>.</h3>
    </div>
</html>
